__pycache__
.DS_Store
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
*.pyzwzw

srun*
tmp

# Local artifacts created by the resumable benchmark uploader.
*.layereddepth.zip
layereddepth-upload-*.json
*.cookies.txt
